@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav li:not(:first-child) {
  margin-left: 40px;
}
.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header__nav li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.header__nav li a:hover::after, .header__nav li a.is-active::after {
  background: #E81919;
}

.main-visual {
  height: 600px;
  width: 100%;
  background-image: url("/images/main.jpg");
  background-size: cover;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .main-visual__content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}
@media (max-width: 767px) {
  .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
  color: #fff;
}
@media (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
  }
}

.main-visual__button {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .main-visual__button {
    margin-top: 28px;
  }
}
.main-visual__button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}
.main-visual__button a:hover {
  opacity: 0.7;
}

.section {
  padding: 100px 0 120px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.card {
  background: #EFEFEF;
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  font-family: "Lato", sans-serif;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}
@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.card__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .card__items {
    margin-top: 42px;
  }
}

.card__item {
  width: calc(33.3% - 16px);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    width: calc(50% - 12px);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
  margin-top: 4px;
}

.card__text {
  color: #6f7579;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 5px;
}

.news {
  background: #fff;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: flex;
  padding: 20px 0 12px;
}
.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
  font-family: "Lato", sans-serif;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.news__label a.is-blue {
  background: #3F51B5;
}
.news__label a.is-red {
  background: #E81919;
}
.news__label a:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
.news__title a {
  text-decoration: none;
  line-height: 1.625;
  transition: all 0.3s ease 0s;
}
.news__title a:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
  transition: all 0.3s ease 0s;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .news__more {
    margin-top: 30px;
  }
}
.news__more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}
.news__more a:hover {
  opacity: 0.7;
}
.news__more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

.price {
  background: #fff;
}

.price__content {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.table th {
  background: #999999;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.table th:nth-child(1) {
  width: 172px;
}
@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}
.table td {
  text-align: right;
}
.table strong {
  color: #E81919;
  line-height: 1.2;
}
.table span {
  font-style: 13px;
  display: block;
  margin-top: 1px;
}

.price__attention {
  font-size: 14px;
  margin-top: 1px;
}
.price__attention a {
  font-weight: 700;
}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access__map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: flex;
  align-items: center;
}
.access__info-row:not(:first-child) {
  margin-top: 8px;
}
.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access__button {
  text-align: center;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
}
.access__button:hover {
  opacity: 0.7;
}
.access__button a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: #3F51B5;
  width: 304px;
  text-align: center;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.access__button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
}

.contact {
  background: #EFEFEF;
}

.contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}
@media (max-width: 767px) {
  .contact__form {
    padding: 24px;
    margin-top: 40px;
  }
}

.contact-form__row {
  display: flex;
}
@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}
.contact-form__row:not(:first-child) {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .contact-form__row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}
.contact-form__label label {
  font-weight: 700;
}
.contact-form__label label.required {
  display: inline-block;
  position: relative;
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .contact-form__input {
    width: 100%;
    margin-top: 5px;
  }
}
.contact-form__input [type=text] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input [type=email] {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input select {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input textarea {
  height: 240px;
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact-form__radio {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact-form__radio {
    margin-top: 26px;
  }
}
.contact-form__radio [type=radio] {
  display: none;
}
.contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
@media (max-width: 767px) {
  .contact-form__radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}
.contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.contact-form__radio [type=radio]:checked + span::after {
  display: block;
}

.contact-form__check {
  margin-top: 63px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form__check {
    margin-top: 40px;
  }
}
.contact-form__check [type=checkbox] {
  display: none;
}
.contact-form__check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.contact-form__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  left: 0;
}
.contact-form__check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: transparent url(../img/checkbox@2x.png) no-repeat center center/contain;
  display: none;
}
.contact-form__check [type=checkbox]:checked + span::after {
  display: block;
}
.contact-form__check a {
  font-weight: 700;
}

.contact-form__button {
  margin-top: 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.contact-form__button:hover {
  opacity: 0.7;
}
.contact-form__button [type=submit] {
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: 16px;
}

.footer {
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}

.footer__content {
  display: flex;
}
@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__left {
  width: 36%;
}
@media (max-width: 767px) {
  .footer__left {
    width: 100%;
  }
}

.footer__logo img {
  width: 205px;
}

.footer__address {
  margin-top: 26px;
}
@media (max-width: 767px) {
  .footer__address {
    margin-top: 13px;
  }
}

.footer__address,
.footer__tel {
  font-size: 14px;
}

.footer__tel {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer__tel {
    margin-top: 6px;
  }
}

.footer__center {
  width: 48%;
}
@media (max-width: 767px) {
  .footer__center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__nav {
  display: flex;
  font-family: "Lato", sans-serif;
}
.footer__nav li:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-left: 20px;
  }
}
.footer__nav li a {
  text-decoration: none;
}

.footer__right {
  width: 14%;
}
@media (max-width: 767px) {
  .footer__right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer__sns {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .footer__sns {
    justify-content: center;
  }
}
.footer__sns li:not(:first-child) {
  margin-left: 16px;
}
.footer__sns li a {
  text-decoration: none;
}
.footer__sns li img {
  width: 30px;
}

.footer__copy {
  font-size: 14px;
  margin-top: 46px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .footer__copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}
.to-top a {
  text-decoration: none;
}
.to-top a img {
  width: 60px;
}
@media (max-width: 767px) {
  .to-top a img {
    width: 40px;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-next@2x.png) no-repeat center center/contain;
  right: calc(50% - 600px);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-next {
    right: 10px;
  }
}
@media (max-width: 767px) {
  .swiper-button-next {
    right: 10px;
  }
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background: transparent url(../img/arrow-prev@2x.png) no-repeat center center/contain;
  left: calc(50% - 600px);
}
.swiper-button-prev::after {
  display: none;
}
@media (max-width: 767px) {
  .swiper-button-prev {
    left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper-button-prev {
    left: 10px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.6196078431);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}

.swiper-pagination-bullet-active {
  background: #2F7DC8;
}

.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
}
.drawer-icon:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  transform: translateX(-200px);
}
.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
}
.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content__item {
  border-bottom: 1px dotted #707070;
}
.drawer-content__item a {
  display: block;
  color: #707070;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
}
.drawer-content__item a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  background: url(../img/arrow-b@2x.png) no-repeat center center/contain;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}
.drawer-background.is-active {
  display: block;
}

.profile-content {
  display: flex;
  margin-top: 80px;
  padding: 0 100px;
}
@media (max-width: 767px) {
  .profile-content {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
}

.profile-image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .profile-image {
    width: 60%;
    margin: 0 auto;
  }
}

.profile-text {
  width: 59%;
  margin-left: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .profile-text {
    width: 100%;
  }
}
.profile-text h3 {
  font-size: 33px;
}
@media (max-width: 767px) {
  .profile-text h3 {
    font-size: 26px;
    margin-top: 10px;
  }
}
.profile-text p {
  font-size: 20px;
}
@media (max-width: 767px) {
  .profile-text p {
    font-size: 18px;
  }
}